<a href="https://colab.research.google.com/github/mahnamnasir/data-science/blob/main/Python_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 2

**1. Create a variable called break and assign it a value 5. See what happens and find out the reason behind the behavior that you see**

In [ ]:
break = 5

SyntaxError: ignored

**2. Create two variables. One to store your birth year and another one to store current year. Now calculate your age using these two variables**

In [ ]:
birth_year = 2001
current_year = 2023
print(current_year-birth_year)

22

**3. Store your first, middle and last name in three different variables and then print your full name using these variables**

In [ ]:
f_name = "Mahnam"
s_name = "Nasir"
l_name = "Naeem"
print(" "+f_name+" "+s_name+" "+l_name)

 Mahnam Nasir Naeem

**4. Answer which of these are invalid variable names: "\_nation, 1record, record1, record\_one, record-one, record^one, continue"**

In [ ]:
1record, record-one, record^one, continue

Exercise 3

**You have a football field that is 92 meter long and 48.8 meter wide. Find out total area using python and print it.**

In [ ]:
length= 92
width = 48.8
print(length*width)

4489.599999999999

**You bought 9 packets of potato chips from a store. Each packet costs 1.49 dollar and you gave shopkeeper 20 dollar. Find out using python, how many dollars is the shopkeeper going to give you back?**

In [ ]:
num_of_packet = 9
cost = 1.49
money= 20
print(20-(9*1.49))

6.59

**You want to replace tiles in your bathroom which is exactly square and 5.5 feet is its length. If tiles cost 500 rs per square feet, how much will be the total cost to replace all tiles. Calculate and print the cost using python (Hint: Use power operator ** to find area of a square)**

In [ ]:
length = 5.5
area = 5.5**2
print(area*500)

15125.0

**Print binary representation of number 17**

In [ ]:
num = 17
print('Binary of number 17 is:',format(num,'b'))

Binary of number 17 is: 10001

Exercise 4

**Create 3 variables to store street, city and country, now create address variable to store entire address. Use two ways of creating this variable, one using + operator and the other using f-string. Now Print the address in such a way that the street, city and country prints in a separate line**

In [ ]:
street = "st 16"
city = "rwp"
country = "Pakistan"
address = street+"\n"+city+"\n"+country
print(address)
address2 =f"{street}\n{city}\n{country}"
print(address2)

st 16
rwp
Pakistan
st 16
rwp
Pakistan

**Create a variable to store the string "Earth revolves around the sun"
Print "revolves" using slice operator
Print "sun" using negative index**

In [ ]:
var = "Earth revolves around the sun"
print(var[6:13])
print(var[-3:])

revolve
sun

**Create two variables to store how many fruits and vegetables you eat in a day. Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. Use python f string for this. **

In [ ]:
fruits = (input())
veg = (input())
print(f"i eat {veg} veggies and {fruits} fruits daily")

2
3
i eat 3 veggies and 2 fruits daily

**I have a string variable called s='maine 200 banana khaye'. This of course is a wrong statement, the correct statement is 'maine 10 samosa khaye'. Replace incorrect words in original strong with new ones and print the new string. Also try to do this in one line.**

In [ ]:
s='maine 200 banana khaye'
s = s.replace('banana','samosa')
s=s.replace('200','10')
print(s)

maine 10 samosa khaye

Exercise 5

**Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May - 2190
Create a list to store these monthly expenses and using that find out,**

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [ ]:
expense = [2200,2350,2600,2130,2190]
extra = expense[1]-expense[0]
print(extra)
tot_exp = expense[0]+expense[1]+expense[2]
print(tot_exp)
print(2000 in expense)
expense.append(1980)
print(expense)
expense[3]=expense[3]-200
print(expense[3])

150
7150
False
[2200, 2350, 2600, 2130, 2190, 1980]
1930

**You have a list of your favourite marvel super heros.
heros=['spider man','thor','hulk','iron man','captain america']**

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [ ]:
heros=['spider man','thor','hulk','iron man','captain america']
print(len(heros))
heros.append('Black Panther')
print(heros)
heros.remove('Black Panther')
heros.insert(3,"Black Panther")
print(heros)
heros[1:3]=["Doctor Strange"]
print(heros)
heros.sort()
print(heros)

5
['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'Black Panther']
['spider man', 'thor', 'hulk', 'Black Panther', 'iron man', 'captain america']
['spider man', 'Doctor Strange', 'Black Panther', 'iron man', 'captain america']
['Black Panther', 'Doctor Strange', 'captain america', 'iron man', 'spider man']

Exercise 8

Using following list of cities per country,
india = ["mumbai", "banglore", "chennai", "delhi"]
pakistan = ["lahore","karachi","islamabad"]
bangladesh = ["dhaka", "khulna", "rangpur"]
Write a program that asks user to enter a city name and it should tell which country the city belongs to
Write a program that asks user to enter two cities and it tells you if they both are in same country or not. For example if I enter mumbai and chennai, it will print "Both cities are in India" but if I enter mumbai and dhaka it should print "They don't belong to same country"

In [ ]:
india = ["mumbai", "banglore", "chennai", "delhi"]
pakistan = ["lahore","karachi","islamabad"]
bangladesh = ["dhaka", "khulna", "rangpur"]
user = input()
if user in india:
  print(f'{city}in india')
elif user in pakistan:
  print(f'{city in pakistan}')
elif user in bangladesh:
  print(f'{city in pakistan}')

mumbai
rwpin india

In [ ]:
india = ["mumbai", "banglore", "chennai", "delhi"]
pakistan = ["lahore","karachi","islamabad"]
bangladesh = ["dhaka", "khulna", "rangpur"]
user = input()
user2 = input()
if user in india and user2 in india:
  print('Both ciities in india')
elif user in pakistan and user2 in pakistan:
  print('Both cities in pakistan')
elif user in bangladesh and user2 in bangladesh:
  print('both cities in Bangladesh')

mumbai
delhi
Both ciities in india

Write a python program that can tell you if your sugar is normal or not. Normal fasting level sugar range is 80 to 100.
Ask user to enter his fasting sugar level
If it is below 80 to 100 range then print that sugar is low
If it is above 100 then print that it is high otherwise print that it is normal

In [ ]:
user = input("Enter your sugar level")
user1= float(user)
if user1<80:
  print("low")
elif user1>100:
  print("high")
else:
  print("normal")

Enter your sugar level50
low

Exercise 9

After flipping a coin 10 times you got this result,
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]
Using for loop figure out how many times you got heads

In [ ]:
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]
count =0
for item in result:
  if item == 'heads':
    count = count + 1
print(count)

4

Print square of all numbers between 1 to 10 except even numbers

In [ ]:
for i in range(10):
  if i%2 != 0:
    print(i*i)

1
9
25
49
81

Your monthly expense list (from Jan to May) looks like this,
expense_list = [2340, 2500, 2100, 3100, 2980] Write a program that asks you to enter an expense amount and program should tell you in which month that expense occurred. If expense is not found then it should print that as well.

In [ ]:
months = ['Jan','Feb','March','April','may']
expense_list = [2340, 2500, 2100, 3100, 2980]
user = input("enter expense amount :")
user = int(user)
for i in range(len(expense_list)):
  if user == expense_list[i]:
    print(f'your expense amount {user} is for {months[i]} ')

enter expense amount :2340
your expense amount 2340 is for Jan

Lets say you are running a 5 km race. Write a program that,

Upon completing each 1 km asks you "are you tired?"
If you reply "yes" then it should break and print "you didn't finish the race"
If you reply "no" then it should continue and ask "are you tired" on every km
If you finish all 5 km then it should print congratulations message

In [ ]:
for i in range(1,6):
  print(f'you have completed {i}miles')

  user = input("are you tired ?")
  if user == "yes":
    print("you didnot finish the race")
    break
  elif user == "no":
    continue
if i==5:
  print("congo")

you have completed 1miles
are you tired ?no
you have completed 2miles
are you tired ?no
you have completed 3miles
are you tired ?no
you have completed 4miles
are you tired ?o
you have completed 5miles
are you tired ?no
congo

![image.png]()

In [4]:
for i in range(5):
  s = ''
  for j in range(i):
    s+='*'
  print(s)

*
**
***
****

Exercise 10

Write a function called calculate_area that takes base and height as an input and returns and area of a triangle. Equation of an area of a triangle is,
area = (1/2)*base*height

In [10]:
base = int(input("Enter the base :"))
height = int(input("Enter the height :"))
def area(base,height):
  area = (0.5*base*height)
  print(f'Area :{area}')
area(base,height)

Enter the base :5
Enter the height :6
Area :15.0

Modify above function to take third parameter shape type. It can be either "triangle" or "rectangle". Based on shape type it will calculate area. Equation of rectangle's area is,
rectangle area=length*width
If no shape is supplied then it should take triangle as a default shape

In [12]:
shape_type = input("What type of shape")
base_value = float(input("Enter the base:"))
def calculate_area(shape, base, height=None, length=None, width=None):
    if shape == "triangle":
        area = 0.5 * base * height
        print(f'Triangle Area: {area}')
    elif shape == "rectangle":
        area = length * width
        print(f'Rectangle Area: {area}')
    else:
        print("Invalid shape. Defaulting to triangle.")
        area = 0.5 * base * height
        print(f'Triangle Area (Default): {area}')
if shape_type == "triangle":
    height_value = float(input("Enter the height: "))
    calculate_area(shape_type, base=base_value, height=height_value)
elif shape_type == "rectangle":
    length_value = float(input("Enter the length: "))
    width_value = float(input("Enter the width: "))
    calculate_area(shape_type, base=base_value, length=length_value, width=width_value)
else:
    calculate_area(shape_type, base=base_value)

What type of shapetriangle
Enter the base:5
Enter the height: 1
Triangle Area: 2.5

![image.png]()

In [20]:
user = int(input("Enter the number: "))
def pattern(user):

  for i in range(user):
    s = ''
    for j in range(i+1):
      s+='*'
    print(s)
pattern(user)

Enter the number: 6
*
**
***
****
*****
******